################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BiometricAuthentication.Business/obj/Debug
/BiometricAuthentication.Business/bin/Debug
/Common/bin/Debug
/Common/obj/Debug
/TesterApplication/bin/Debug
/TesterApplication/obj/Debug
